//ASIDE

.thumb img {
	border-radius: 10px;
}

.guests,
#guests--counter-number {
	border-radius: 10px;
}

#guests--counter-number {
	font-size: 40px;
}

.btn {
	height: 60px;
	width: 60px;
	border-radius: 40px;
	border: none;
	font-size: 50px;

	@include flex-center;
}

.ingredients--table tr {
	height: 2em;
	color: $text-dark;

	&:nth-child(even) {
		background: $main-background;
	}
}

.ingredient {
	color: $text-dark;
}

.quantity {
	text-align: right;
}

// .unit {
// }
