//ASIDE

aside {
	background: white;
}

.thumb img {
	border-radius: 10px;
}

.guests,
#guests--counter-number {
	border-radius: 10px;
}

.guests {
	background: $panel-background;

	h3 {
		color: $text-dark;
		margin-left: 10px;
		font-size: 1.5em;
	}
}

#guests--counter-number {
	font-size: 40px;
	background: white;
	color: $text-dark;
}

.btn {
	height: 60px;
	width: 60px;
	border-radius: 40px;
	border: none;
	font-size: 50px;
	background: white;
	outline: none;

	@include flex-center;

	img {
		width: 70%;
	}
}

.ingredients {
	h3 {
		background: $text-dark;
		color: $text-light;
	}
}

.ingredients--table tr {
	height: 2em;
	color: $text-dark;

	&:nth-child(even) {
		background: $panel-background;
	}
}

.ingredient {
	color: $text-dark;
	font-weight: 100;
}

.quantity {
	text-align: right;
}

// .unit {
// }
