main {
	background: $panel-background;
}

header {
	.title {
		background: $main;
		border-radius: 20px 0 0 20px;

		h1 {
			color: $text-light;
			text-transform: uppercase;
			font-size: 3em;
			letter-spacing: 5px;
		}
	}

	.close {
		border-radius: 0 20px 20px 0;
		border: none;
		outline: none;
		background: hsla(355, 85%, 66%, 0.484);
		cursor: pointer;

		> img {
			object-fit: contain;
		}
	}
}

.recipe {
	background: white;
	border-radius: 20px;

	h2 {
		border-radius: 10px;
		background: $text-dark;
		color: $text-light;
		font-size: 2em;
	}
}

.step-list {
	font-size: 3.5em;
	overflow-wrap: break-word;
	counter-reset: step-counter;

	li {
		background: white;
		color: $text-dark;
		border-radius: 20px;
		font-weight: 100;
		counter-increment: step-counter;

		&:nth-child(even) {
			background: $panel-background;
		}

		&::before {
			content: counter(step-counter);
			min-height: 70px;
			min-width: 70px;
			background: $text-dark;
			margin: 0 20px 0 20px;
			border-radius: 20px;
			font-size: 0.7em;
			color: $text-light;
			font-weight: 400;

			@include flex-center;
		}
	}
}
