html,
body {
	height: 100%;
	width: 100%;
}

body {
	@include flex-center;
}

//ASIDE PART

aside {
	height: 100%;
	width: 100%;
	flex: 1;

	@include flex-column-evenly;

	.thumb,
	.guests {
		width: 90%;
		@include flex-center-evenly;
	}

	.thumb {
		max-width: 90%;
		padding-top: 10px;

		> img {
			object-fit: contain;
			width: 100%;
		}
	}

	.guests {
		height: auto;
		padding: 1em;
		margin-top: 10px;

		.guests--counter {
			width: 80%;
			height: 90%;

			@include flex-center-evenly;
		}

		#guests--counter-number {
			width: 50%;
			height: 90%;

			@include flex-center;
		}
	}

	.ingredients {
		flex: 5;
		width: 90%;
		overflow: auto;

		@include flex-column-evenly;

		h3 {
			width: 100%;
			height: 2em;
			font-size: 2em;
			border-radius: 10px;
			margin: 10px 0 10px 0;

			@include flex-center;
		}

		.ingredients--table {
			height: 90%;
			width: 100%;
			overflow: auto;
		}

		table {
			width: 100%;
			font-size: 30px;
		}
	}
}
//MAIN PART

main {
	height: 100%;
	width: 100%;
	flex: 3;

	@include flex-column-between;

	header {
		flex: 1;
		width: 95%;
		margin: 10px;

		@include flex-center;

		.title {
			width: 95%;
			height: 100%;
			text-align: center;
			@include flex-center;
		}

		.close {
			height: 100%;
			width: 5%;
			@include flex-center;
		}
	}

	.recipe {
		flex: 6;
		overflow: auto;
		width: 95%;
		@include flex-column-evenly;

		h2 {
			width: 95%;
			height: 3em;
			margin: 10px 0 10px 0;
			@include flex-center;
		}

		.steps {
			flex: 1;
			width: 98%;
			padding-top: 10px;
			overflow: auto;
		}

		.step-list li {
			height: auto;
			padding: 40px 0 40px 0;

			@include flex-start-center;
		}
	}
}
