@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-evenly{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-column-between{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}